.tabel {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabel thead tr {
    background-color: #ed1a07;
    color: #ffffff;
    text-align: left;
}

.tabel th,
.tabel td {
    padding: 12px 15px;
}

.tabel tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabel tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabel tbody tr:last-of-type {
    border-bottom: 2px solid #ed1a07;
}

.tabel tbody tr.active-row {
    font-weight: bold;
    color: #ed1a07;
}

.underline {
  background-image: linear-gradient(120deg, #ed1a07 0%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 110%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

h1{
    text-align: center;
  }
  
form{
  text-align: center;
}
  
label{
  font-weight: bold;
  margin-right: 10px;
}

button{
  text-align: center;
  background-color: #ed1a07;
  color: white;
  border-color: white;
  border-radius: 5px;
  width: 55px;
}